.contact-section {
    width: 100vw;
    height: 100vh;
    display: block;
}

.contact_parametrs {
    background-color: $textcolor;
    height: 100vh;
    top: 0px;
    left: 0px;
    color: $fon;
    font-family: $userfont-prata;
    position: relative;
}

//contact-data

.contact-data {
    width: 100%;
    height: 20vh;
    display: block;
    padding-top: calc($index * 3);
    @include media-breakpoint-between(md, xl) { 
        padding-top: calc($index * 1);
    }
    @include media-breakpoint-down(md) { 
        padding-top: calc($index * 1);
    }
}

.contact-data_parametrs {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-between(md, xl) { 
        display: block;
    }
    @include media-breakpoint-down(md) { 
        display: block;
    }
}

//contactner-data

.contactner-data {
    width: calc($index * 27);
    display: flex;
    margin-left: calc($index * 3);
    @include media-breakpoint-between(md, xl) { 
        width: 100%;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    @include media-breakpoint-down(md) { 
        width: 100%;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

.contactnie-data_text {
    font-size: calc($index * 2);
    letter-spacing: 2px;
}

.contact-number {
    display: block;
    height: 20vh;
    width: 50vw;
    justify-content: center;
    @include media-breakpoint-between(md, xl) { 
        width: 100%;
        height: 15vh;
        padding-top: calc($index * 2);
    }
    @include media-breakpoint-down(md) { 
        width: 100%;
        height: 15vh;
        padding-top: calc($index * 2);
    }
}

.contact-number_parametrs {
    background-color: #b5b5b5;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    color: $textcolor;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-between(md, xl) { 
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    @include media-breakpoint-down(md) { 
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

.contact-number_text {
    font-size: calc($index * 0.8);
    display: block;
    margin-left: calc($index * 1);
}

//contact-data-tg

.contact-data-tg {
    width: 100%;
    height: 20vh;
    display: block;
    padding-top: calc($index * 5);
    @include media-breakpoint-between(md, xl) { 
        margin-top: calc($index * 8);
        padding-top: 0px;
    }
    @include media-breakpoint-down(md) { 
        margin-top: calc($index * 8);
        padding-top: 0px;
    }
}

.contact-tg_parametrs {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-between(md, xl) { 
        display: block;
    }
    @include media-breakpoint-down(md) { 
        display: block;
    }
}

//contactner-data

.contact-tg_Tg {
    display: flex;
    margin-left: calc($index * 3);
    width: calc($index * 17);
    @include media-breakpoint-between(md, xl) { 
        width: 100%;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    @include media-breakpoint-down(md) { 
        width: 100%;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

.contact-tg_tg-text {
    font-size: calc($index * 2);
    letter-spacing: 2px;
}

.conact-data-tg_tg{
    display: block;
    height: 10vh;
    width: 50vw;
    justify-content: center;
    margin-left: calc($index * 10);
    @include media-breakpoint-between(md, xl) { 
        width: 100%;
        height: 8vh;
        margin: auto;
        padding-top: calc($index * 2);
    }
    @include media-breakpoint-down(md) { 
        width: 100%;
        height: 8vh;
        margin: auto;
        padding-top: calc($index * 2);
    }
}

.conact-data-tg_tg-parametrs{
    background-color: #b5b5b5;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    color: $textcolor;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-between(md, xl) { 
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    @include media-breakpoint-down(md) { 
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

.contact-data-tg_tg-text {
    display: block;
    font-size: calc($index * 0.8);
    text-align: start;
    color: $textcolor;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
    &:hover {
        color: rgb(0, 0, 0);
    }
}

//contact-data-vk

.contact-data_vk {
    width: 100%;
    height: 20vh;
    display: block;
    padding-top: calc($index * 5);
    @include media-breakpoint-between(md, xl) { 
        //margin-top: calc($index * );
        padding-top: 0px
    }
    @include media-breakpoint-down(md) { 
        //margin-top: calc($index * );
        padding-top: 0px
    }
}

.contact-vk_parametrs {
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-between(md, xl) { 
        display: block;
    }
    @include media-breakpoint-down(md) { 
        display: block;
    }
}

//contactner-data

.contact-vk_vk {
    display: flex;
    margin-left: calc($index * 3);
    width: calc($index * 17);
    @include media-breakpoint-between(md, xl) { 
        width: 100%;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    @include media-breakpoint-down(md) { 
        width: 100%;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}

.contact-vk_vk-text {
    font-size: calc($index * 2);
    letter-spacing: 2px;
}

.conact-data-vk_vk{
    display: block;
    height: 10vh;
    width: 50vw;
    justify-content: center;
    margin-left: calc($index * 10);
    @include media-breakpoint-between(md, xl) { 
        width: 100%;
        height: 8vh;
        margin: auto;
        padding-top: calc($index * 2);
    }
    @include media-breakpoint-down(md) { 
        width: 100%;
        height: 8vh;
        margin: auto;
        padding-top: calc($index * 2);
    }
}

.conact-data-vk_vk-parametrs{
    background-color: #b5b5b5;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    color: $textcolor;
    align-items: center;
    justify-content: center;
    text-align: start;
    @include media-breakpoint-between(md, xl) { 
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    @include media-breakpoint-down(md) { 
        width: 90%;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
}

.contact-data-vk_vk-text {
    display: block;
    font-size: calc($index * 0.8);
    text-align: start;
    color: $textcolor;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; 
    &:hover {
        color: rgb(0, 0, 0);
    }
    //margin-left: calc($index * 1);
}

//contact-footer

.contact-footer {
    display: block;
    padding-top: calc($index * 8);
    width: calc($index * 27);
    margin-left: calc($index * 3);
}

.contact-footer_parametrs {
    color: $fon;
    opacity: .8;
    font-size: calc($index * 1);
}